// Base styles that can be applied to any element

.content {

	.page {

		.page__title {
			text-align:center;
			font-size:40px;
			padding-top:50px;
			padding-bottom:50px;
		}

		.person__wrapper{

      .col {
      	display: inline-block;
      	width:75%;

        &.col--1 {
          font-size: 20px;
          width: 35%;
          vertical-align: top;
          text-align: right;
          padding: 0px 25px;
				}

				&.col--2 {
					font-size:20px;
					width:65%;
					vertical-align:top;
					text-align: left;
				}

			}
		}
	}

	
}

