// Base styles that can be applied to any element

.content {
	height: 100%;

	.page {
		background:black;
		color:white;

		.page__title {
			text-align:center;
			font-size:40px;
			padding-top:50px;
			padding-bottom:50px;
		}
	}

	
}

