.page--home {
	height: 100vh;
	width: 100%;

  .home--background {
	  height:100%;
	  color:white;

	  .center{
		padding-top:10%;
		display:block;
		padding-left:45%;

	  	.static {
			display: relative;
		    margin: auto;
		    padding-top:20%;
		 	top:0;
		 	left:0;
		    z-index:0;
		    height:55%;
		}

		.animated {
			display: absolute;
		    margin: auto;
		 	width:12%;
		 	background:white;
		    z-index:1;
		    top: -46px; left: -122px;
		    animation: animated 0s ease-in 13.2s forwards;

		}
		@keyframes animated {
		    to {
		        width:0;
		        height:0;
		        overflow:hidden;
		    }
		}


		.menu {
			display:block;
			margin: auto;
			text-align: center;
			border:1px solid white;
		}
	}

}
}
