.page--work {
	.grid--wrapper{
		width:75%;
		display: block;
	  margin: auto;

		 .grid {
      	display: inline-block;
      	
				img{
					width:100%;
				}

        &.grid--1 {
					filter: grayscale(100%);
          font-size: 20px;
          width: 33%;
          vertical-align: top;
          text-align: center;
					overflow:hidden;
					padding:0.5%;
					display:relative;
						&::after {
				    content: "work";
				    padding-top:40%;
				    position: absolute;
				    top: 0;
				    left: 0;
				    background: black;
				    height: 100%;
				    width: 100%;
				    opacity: 0;
				    transition: opacity 250ms;
				  }
  
				  &:hover {
				    &::after {
				      opacity: 0.7;
				    }
				  }
			}

				&.grid--2 {
					filter: grayscale(100%);
					font-size:20px;
					width:33%;
					vertical-align:top;
					text-align: center;
					overflow:hidden;
					padding:0.5%;
						&::after {
				    content: "work";
				    padding-top:40%;
				    position: absolute;
				    top: 0;
				    left: 0;
				    background: black;
				    height: 100%;
				    width: 100%;
				    opacity: 0;
				    transition: opacity 250ms;
				  }
  
				  &:hover {
				    &::after {
				      opacity: 0.5;
				    }
				  }
			}
				

				&.grid--3 {
					filter: grayscale(100%);
					font-size:20px;
					width:33%;
					vertical-align:top;
					text-align: center;
					overflow:hidden;
					padding:0.5%;
						&::after {
				    content: "work";
				    position: absolute;
				    padding-top:40%;
				    top: 0;
				    left: 0;
				    background: black;
				    height: 100%;
				    width: 100%;
				    opacity: 0;
				    transition: opacity 250ms;
				  }
  
				  &:hover {
				    &::after {
				      opacity: 0.5;
				    }
				  }
			}

				&.grid--center {
					filter: grayscale(100%);
					font-size:20px;
					width:33%;
					vertical-align:top;
					text-align: center;
					overflow:hidden;
					padding:0.5%;
					margin:auto;
						&::after {
				    content: "work";
				    position: absolute;
				    padding-top:40%;
				    top: 0;
				    left: 0;
				    background: black;
				    height: 100%;
				    width: 100%;
				    opacity: 0;
				    transition: opacity 250ms;
				  }
  
				  &:hover {
				    &::after {
				      opacity: 0.5;
				    }
				  }
			}
				
			}
		}
	}
